/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/index.css */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
